body {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-color: #1F2937;
    font-family:Arial, Helvetica, sans-serif;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0 50px;
}

.header ul{
    list-style-type: none;
    display: flex;
    gap: 8px;
    
}

.header ul a{
    font-weight: lighter;
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.content1{
    margin: 100px 50px 0 50px;
    display: flex;
    justify-content: space-between;
    padding: 0px 0px 140px 0px;
}

.content1 .left{
    flex: 1;
    margin: 0;
    padding: 0;


}

.content1 .left .main-title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;


}

.content1 .left p{
    color: white;
    margin-block-start: 0;
    padding-right: 80px;
}

.content1 .left button{
    color: white;
    background-color: #3882f6;
    padding: 8px 32px;
    border: 0;
    border-radius: 5px;
    
}

.content1 .right{
    flex: 1;
    background-color: gray;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    
}

.content2 .title{
    margin: 38px 0px;
    font-size: 36px;
    font-weight: bolder;
}

.content2 .cards-container{
    display: flex;
    margin: 0px 100px 120px 100px;
    
    
    
    
}

.content2 .cards-container .card{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    text-wrap: wrap;
    justify-content: space-between;
}

.content2 .cards-container .card p{
    padding: 0px 20px;
    margin-top: 8px;
}

.content2 .cards-container .card .card-container{
    
    border-style: solid;
    height: 150px;
    width: 150px;
    border-color: #3882f6;
    border-radius: 20px;
    border-width: 5px;
    
    
}

.content3{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    padding: 130px 180px;
    
    
}

.content3 .upper{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
    text-align: justify;
}

.content3 .down{
    margin-top: 15px;
    font-weight: bold;
    padding-right: 20px;
}

.content4{
    background-color: white;
    padding: 100px 0px;
}

.content4 .container{
    margin: 0 50px;
    background-color: #3882f6;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 50px 100px;
}

.content4 .container .text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #F9FAF8;
    font-size: 22px;
    font-weight: bolder;

    
}

.content4 .container .text p{
    margin: 0;
    color: #F9FAF8;
    font-size: 16px;
    font-weight: lighter;
    
}

.content4 .container button{
    background-color:#3882f6;
    border-color: #F9FAF8;
    color: #F9FAF8;
    border-radius: 5px;
    padding: 0px 32px;
    border-style: solid;
}

.footer{
    text-align: center;
    color:#e5e7eb;
    padding: 32px 32px;
    

}